<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day Trip Activity Planner</title>
    <style>
        #activityTable {
            margin-top: 20px;
        }

    </style>
</head><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day Trip Activity Planner</title>

    <style>
        #activityTable {
            margin-top: 20px;
        }
        #notificationContainer {
            /*Center in the screen*/
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            /*Make it blox*/
            width: 50%;
            max-width: 500px;

            z-index: 9999; /* Ensure it appears above other content */
        }
    </style>

</head>
<body>
    
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <h1 class="title has-text-white">Day Trip Activity Planner</h1>
            </a>
        </div>
    </nav>

        <div class="container pt-5">
            
        </div>


        <div class="container pt-5">
            <form id="activityForm">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="budget">Budget ($):</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <input class="input" type="number" id="budget" name="budget" required>
                        </div>
                    </div>
                </div>
                
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="time">Max Time Available (in hours):</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <input class="input" type="number" id="time" name="time" required>
                        </div>
                    </div>
                </div>
                
                <table id="activityTable" class="table is-bordered is-fullwidth">
                    <thead>
                        <tr>
                            <th>Name of Activity</th>
                            <th>Cost</th>
                            <th>Estimate time spent (in hours)</th>
                            <th>Rank the activity (0: least prefered, The higher the value the more important)</th>
                            <th></th> <!-- Empty header for remove button -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="input" type="text" name="activityName[]"></td>
                            <td><input class="input" type="number" name="activityCost[]"></td>
                            <td><input class="input" type="number" name="activityTime[]"></td>
                            <td><input class="input" type="number" name="activityValue[]"></td>
                            <td><button type="button" class="button is-danger remove-row-btn" onclick="removeRow(this)">Remove</button></td>
                        </tr>
                    </tbody>
                </table>
                
                <button type="button" class="button is-success add-row-btn mr-10" onclick="addRow()">Add Activity</button>
                <button type="button" class="button is-primary submit-btn mr-10" onclick="submitForm()">Submit</button>
                <button type="button" class="button is-info generate-example-btn mr-10" onclick="generateExample()">Example</button>
            </form>
            
            <div id="activitiesTable" class="box"></div>
            <div id="notificationContainer"></div>

        </div>
    </section>

    <script>
        function generateExample() {
            var budget = document.getElementById("budget");
            var time = document.getElementById("time");
            var activityTable = document.getElementById("activityTable").getElementsByTagName('tbody')[0];
            budget.value = 100;
            time.value = 8;
            activityTable.innerHTML = `
                <tr>
                    <td><input class="input" type="text" name="activityName[]" value="Visit Stanley Park"></td>
                    <td><input class="input" type="number" name="activityCost[]" value="0"></td>
                    <td><input class="input" type="number" name="activityTime[]" value="2"></td>
                    <td><input class="input" type="number" name="activityValue[]" value="3"></td>
                    <td><button type="button" class="button is-danger remove-row-btn" onclick="removeRow(this)">Remove</button></td>
                </tr>
                <tr>
                    <td><input class="input" type="text" name="activityName[]" value="Visit Vancouver Aquarium"></td>
                    <td><input class="input" type="number" name="activityCost[]" value="30"></td>
                    <td><input class="input" type="number" name="activityTime[]" value="3"></td>
                    <td><input class="input" type="number" name="activityValue[]" value="2"></td>
                    <td><button type="button" class="button is-danger remove-row-btn" onclick="removeRow(this)">Remove</button></td>
                </tr>
                <tr>
                    <td><input class="input" type="text" name="activityName[]" value="Visit Grouse Mountain"></td>
                    <td><input class="input" type="number" name="activityCost[]" value="50"></td>
                    <td><input class="input" type="number" name="activityTime[]" value="4"></td>
                    <td><input class="input" type="number" name="activityValue[]" value="1"></td>
                    <td><button type="button" class="button is-danger remove-row-btn" onclick="removeRow(this)">Remove</button></td>
                </tr>
            `;
            
            submitForm();
        }

        function addRow() {
            var table = document.getElementById("activityTable").getElementsByTagName('tbody')[0];
            var newRow = table.insertRow();
            newRow.innerHTML = `
                <td><input class="input" type="text" name="activityName[]"></td>
                <td><input class="input" type="number" name="activityCost[]"></td>
                <td><input class="input" type="number" name="activityTime[]"></td>
                <td><input class="input" type="number" name="activityValue[]"></td>
                <td><button type="button" class="button is-danger remove-row-btn" onclick="removeRow(this)">Remove</button></td>
            `;
        }

        function removeRow(btn) {
            var row = btn.closest('tr');
            row.parentNode.removeChild(row);
        }

        // Define a global variable to track if the popup has been shown
var popupShown = false;

function submitForm() {
    console.log("Submitting form...");

    // Create a string builder to store the data of the table
    var stringBuilder = "";
    var table = document.getElementById("activityTable");
    for (var i = 1, row; row = table.rows[i]; i++) {
        for (var j = 0, col; col = row.cells[j]; j++) {
            stringBuilder += col.childNodes[0].value;
            if (j < 4) {
                stringBuilder += ",";
            }
        }
        stringBuilder += ";";
    }

    var form = document.getElementById("activityForm");
    var formData = new FormData(form);
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/submit/" + stringBuilder, true);
    xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
                console.log("Form submission successful.");
                var response = xhr.responseText;
                var activitiesTableDiv = document.getElementById("activitiesTable");
                activitiesTableDiv.innerHTML = response;

                // Show popup only if it hasn't been shown before
                if (!popupShown) {
                    showPopup();
                    popupShown = true; // Update flag to indicate popup has been shown
                }
            } else {
                console.error("Form submission failed with status code: " + xhr.status);
            }
        }
    };
    xhr.send(formData);
}

// Function to create and show the popup
function showPopup() {
    // Create a div element for the popup
    var popup = document.createElement('div');
    popup.className = 'popup';

    // Set the HTML content for the popup
    popup.innerHTML = `
        <article class="message is-info">
            <div class="message-header">
                <p>Info</p>
                <button class="delete" aria-label="delete" onclick="closePopup()"></button>
            </div>
            <div class="message-body">
                Scroll down to see the optimized plan!
            </div>
        </article>
    `;

    // Append the popup to the body
    document.body.appendChild(popup);

    // Apply CSS styles to center the popup
    popup.style.position = 'fixed';
    popup.style.top = '50%';
    popup.style.left = '50%';
    popup.style.transform = 'translate(-50%, -50%)';
    popup.style.backgroundColor = 'white';
    popup.style.padding = '20px';
    popup.style.borderRadius = '5px';
    popup.style.boxShadow = '0 2px 8px rgba(0, 0, 0, 0.1)';
}

// Function to close the popup
function closePopup() {
    var popup = document.querySelector('.popup');
    if (popup) {
        popup.parentNode.removeChild(popup);
    }
}
    </script>
</body>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Day Trip Activity Planner</strong> by Inzaghi Moniaga. More Detailed Explanation & Inspiration <a href="https://inzaghi.notion.site/Optimize-dating-plan-in-Vancouver-as-Integer-0-1-Programming-Problem-17e2b6100f324c9bb6b8ba8c14c2d956?pvs=4">here</a>.
        </p>
    </div>
</html>
